.footer-container{
    margin-top: 2rem;
    border-top: 1px solid gray;
}
.footer-col p {
    padding-top: 2rem;
    font-weight: bolder;
}

.footer-col ul li{
    list-style-type: none;
    text-decoration: none;
}